node_modules
dist
.git
.gitignore
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
bun-debug.log*
bun-error.log*
.DS_Store
*.tmp
*.temp
*.swp
*.swo
.env
.env.*
!.env.example
storage/originals/*
!storage/originals/.gitkeep
storage/processed/*
!storage/processed/.gitkeep
